*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
}
  
#bedu-logo{
    margin-left: 20px;
    width: 50px;
}
  
  /*Para el posicionamiento de los elementos del navBar se usa Flexbox. Este tema se
  verá con más profunidad la próxima sesión, pero por el momento puedes usarlo*/
  
  nav{
    background-color: #24272a;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav > div > a{
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
  }