  #icons-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  #icons-container i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-top: 50px;
  }
  
  
  .top-country-gridarea{
    display: grid;
    grid-template-columns: 32vw 32vw 32vw;
    grid-template-rows: auto auto auto;
    justify-items: center;
  }
  
  .top-country-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .top-country-gridarea > div{
    width: 24vw;
    height: 30vh;
    text-align: center;
  }
  
  .top-country-gridarea > div > img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
  }

  .input-container {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    border-radius: 30px;
  }
  
  .login-container{
    @extend .input-container; 
    height: -webkit-fill-available;
  }

  .register-container{
    @extend .input-container; 
  }
  
  .login-container > div{
    width: 80%;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
  }
  
  .login-inputs{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
    
  .login-info{
    display: flex;
    justify-content: center;
    padding: 0 50px 0 50px;
  }
  
  .login-inputs > input{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    padding: $zero;
    font-size: 20px;
    padding-left: 5px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  
  .register-container{
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    border-radius: 30px;
  }
  
  .register-container > div{
    width: 80%;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
  }
  
  .register-inputs{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
    
  .register-info{
    display: flex;
    justify-content: center;
    padding: 0 50px 0 50px;
  }
  
  .register-inputs > input{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    padding: $zero;
    font-size: 20px;
    padding-left: 5px;
    height: 40px;
    border: 1px solid grey; 
    border-radius: 5px;
  }
  
  
  
  