
.margin-top-lg{
    margin-top: 50px;
  }
  
  .margin-top-md{
    margin-top: 30px;
  }
  
  .margin-top-sm{
    margin-top: 15px;
  }
  
  .margin-bottom-lg{
    margin-bottom: 50px;
  }
  
  .margin-bottom-md{
    margin-bottom: 30px;
  }
  
  .margin-bottom-sm{
    margin-bottom: 15px;
  }
  
  .padding-top-lg{
    padding-top: 50px;
  }
  
  .padding-top-md{
    padding-top: 30px;
  }
  
  .padding-top-sm{
    padding-top: 15px;
  }
  
  .padding-left-sm{
    padding-left: 15px;
  }
  